build/
fw_data/MqttComm
*.o
*.d
*.gch
*.log
*.tar

A/
B/
sksiot_log.txt

www/DayRun
www/DayRun.log
www/DayRun.tar
www/IPCAM.lp
www/http_his.log
www/http_his.tar
www/sks.log
www/sksiot_log.txt
www/sys.log
www/uis_ext.log
